.container {
    display: flex;
    position: fixed;
    width: 80vw;
    height: 80px;
    background-color: rgb(19, 19, 19);
    border-radius: 25px;
    box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.4);
    border: none;
    justify-items: end;
    border: 1px solid rgb(51, 51, 51);
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    gap: 25px;
}


.logo_banner {
    display: flex;
    grid-template-columns: 33% 8% 39%;
    align-items: center;
    justify-items: center;
    color: aliceblue;
    gap: 10px;
}

.logoImg {
    width: 50px;
}

.select{
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    width: 88px;
    margin: 0px;
}

.select_gender{
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    width: 97px;
    margin: 0px;
}

.search_gender {
    height: 40px;
    border-radius: 10px;
    width: 60px;
    border: 1px solid gray;
    padding: 10px 15px; 
    font-size: 16px; 
    box-sizing: border-box;
    outline:none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    margin: 0px;
 }


 .button_create {
    display: flex ;
    background-color: #494949;
    margin-right: 50px;
    height: 40px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    margin-left: 40px;
    font-size: 10px;
    margin: 0px;
 }
 .button_source{
    display: flex ;
    font-size: 10px;
    background-color: #494949;
    margin-right: 50px;
    height: 40px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    margin-left: 40px;
    margin: 0px;
 }

 .button_source:active, .button_create:active, .button_reset:active {
    background-color: #50215B;
  }

  .button_reset{
    display: flex ;
    font-size: 10px;
    background-color: #494949;
    margin-right: 50px;
    height: 40px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    margin-left: 40px;
    margin: 0px;
  }

  .searchBar{
    display: flex;
    margin: 0px
    ;
  }

  .divButtons{
    display: flex;
    gap: 10px;
  }